.about {
    border-bottom: 1px solid #dde1e4;
}

.about h2:before {
    content: "";
    width: 10px;
    height: 35px;
    background: #4e5a62;
    position: absolute;
    left: 15px;
}

.about p {
    font-size: 16px;
    color: #8d8f92;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
}

.social-icon {
    margin: 40px 0 150px 0;
}

.social-icon img {
    display: inline-block;
    margin-right: 1px;
    transition: 0.5s;
}

.social-icon img:hover {
    transform: rotateX(50deg);
    cursor: pointer;
    border: 2px solid #000;
}

.right_block_about {
    padding-left: 68px;
}

.inner_right_block_about:before {
    content: '01';
    width: 50px;
    height: 50px;
    color: #fff;
    background: #39a493;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    left: 0;
    margin-top: 10px;
}

.before_two:before {
    content: '02';
}

.before_three:before {
    content: '03';
}

.inner_right_block_about:hover:before{
    cursor: pointer;
    transition: .5s;
    border: 2px solid #000;
    color: #000;
    background: transparent;
}
/*adaptive*/

@media (max-width: 576px) {
    .about {
        display: none;
    }

}
